<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <h1>Cupcakes</h1>
    <ul id="cupcakes"></ul>
    <h3>Add new cupcake:</h3>
    <form id="add-cupcake">
        <div>
            <label for="flavor">Flavor:</label>
            <input type="text" name="flavor" id="flavor" required/>
        </div>
        <div>
            <label for="size">Size:</label>
            <input type="text" name="size" id="size" required/>
        </div>
        <div>
            <label for="rating">Rating:</label>
            <input type="number" name="rating" id="rating" required/>
        </div>
        <div>
            <label for="image">Image URL:</label>
            <input type="text" name="image" id="image"/>
        </div>
        <div>
            <button>Add cupcake</button>
        </div>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>